/*YOUR CUSTOM STYLES*/

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */

    overflow-x: hidden;
}
* html .ui-autocomplete {
    height: 200px;
}
select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.modal-dialog-center {
    margin-top: 20%;
    overflow: hidden;
}
.logo-search {
    background-image: url(images/icon/Logo_Search2_1.png);
    background-repeat: no-repeat;
    margin: 1%;
}

/* Bootstrap Spinner */

/* @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); */
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 2%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {} .input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
}
.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 0px;
}
/* Tabs */
input[type='text'][readonly] {
	background-color:#FFF;
	cursor: pointer;
}
input[type='text'][disabled] {
	background-color:#DDD;
	cursor: pointer;
}
#book ul{
	background: #304CB2;
}
#book ul.nav-pills > li > a {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: bold;
	color: white;
}
#book ul.nav-pills > li > a {
	padding: 5px 10px 5px 10px;
}
#book ul.nav-pills > li.active > a, #book ul.nav-pills > li.active > a:hover{
	background: #1B3682;
}
#book ul.nav-pills > li > a:hover{
	background: #1B3682;
}
#book ul.nav-pills > li.active > a > div.arrow{
	margin-top:5px;
	position: absolute;
	left: 43%;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #1B3682;
}
#book ul.nav-pills > li > a:hover > div.arrow{
	margin-top:5px;
	position: absolute;
	left: 43%;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #1B3682;
}
#book ul.nav-pills > li.active > a{
	font-color: white;
}
#book ul.nav-pills > li > a {
	border-radius: 0 0 0 0 ;
}
#book ul.nav-pills > li {
	margin-right: -2px;
}
#book .tab-content {
	background: rgba(255,255,255,0.80);
	padding: 10px 10px 0px 10px;
}
#book .dropdown-menu {
	background: white;
}
#book input[type="text"].large-ui {
	color: #2F1784;
	font-weight: bold;
	font-size: 20px;
}
#book::-webkit-input-placeholder { color:#00f; }
#book::-moz-placeholder { color:#00f; }
#book .active-icon{
	background:#1B3682;
}
#book .logo-adult{
	background-image:url(../images/icon/adult_.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	margin:0px;
}
#book .logo-child{
	background-image:url(../images/icon/child_.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	margin:0px;
}
#book .logo-infant{
	background-image:url(../images/icon/infant_.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	margin:0px;
}
#book label{
	font-size:12px;
	font-weight: bold;
}
#book small{
	font-size: 7px;
}
#fixed-menu label{
	font-size:12px;
	font-weight: bold;
}
#fixed-menu small{
	font-size:7px;
}
.example6 .navbar-brand{ 
  background: url(../images/sjy/logo.png) no-repeat center / contain ;
  width: 200px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}
.gutter-8.row {
	margin-right: -2px;
	margin-left: -2px;
}
.gutter-8 > [class^="col-"], .gutter-10 > [class^=" col-"] {
	padding-right: 2px;
	padding-left: 2px;
}
/* Sticky Form */
.shadow {
	box-shadow: 0 6px 12px 0 rgba(150, 150, 150, 0.7);
	-moz-box-shadow: 0 6px 12px 0 rgba(150, 150, 150, 0.7);
	-webkit-box-shadow: 0 6px 12px 0 rgba(150, 150, 150, 0.7);
	-khtml-box-shadow: 0 6px 12px 0 rgba(150, 150, 150, 0.7);
}
.background-white{
	background: white;
}
.background-gradient{
	background: #ebebeb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ebebeb, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ebebeb, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ebebeb, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ebebeb, white); /* Standard syntax */
}
.tx-bold{ 
	/*font-weight: bold;*/
}
.tx-tahoma{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.tx-center{
	text-align: center;
}
.tx-left{
	text-align: left;
}
.tx-right{
	text-align:right;
}
.tx-white{
	color: white;
}
.tx-blue{
	color: #1B3682;
}
.blue-sj{
	color: #1B3682;
}
.bg-blue-sj{
	/* 
	border-color: rgb(47, 23, 132);
	background: rgb(47, 23, 132);
	 */
	border-color: #1B3682;
	background: #1B3682;
}
.red{
	color: red;
}
.red-sj{
	color: rgb(255, 0, 0);
}
.bg-red-sj{
	border-color: rgb(255, 0, 0);
	background: rgb(255, 0, 0);
}
/* promo */
#promo .promo-image {
	background: rgba(37, 62, 131, 0.2);
}
#promo .promo-info {
	background: rgba(37, 62, 131, 0.2);
	color: rgb(37, 62, 131);
	width: 100%;
	float: left;
	padding: 10px 15px;
	position: relative;
}
#promo .promo-info h4 {
	font-size: 22px;
	color: #333;
}
#promo .promo-info i {
	font-size: 35px;
	color: rgb(37, 62, 131);
	position: absolute;
	right: 30px;
	bottom: 20px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
#promo .thumb-priceinfo {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(99%, rgba(0,0,0,0.99)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0 );
	position: absolute;
	bottom: 94px;
	padding: 10px 10px 1px;
	width: 100%;
	left: 0;
}
#promo .thumb-priceinfo span {
	color: white;
	font-size: 18px;
	font-weight: 500;
}
#promo .thumb-priceinfo .frm {
	color: white;
	float: left;
	line-height: 14px;
	padding-right: 6px;
	padding-top: 0px;
	text-align: center;
	width: 20%;
}
#promo .thumb-priceinfo strong {
	color: #ffffff;
	font-size: 40px;
}
#sumRest h7,hr{
	margin: 0px 0px;
}
#sumRest h7{
	margin-bottom: -4px;
}
#sumRest h6{
	font-size: 11px;
	margin: 1px 0px;
}
.margin-wrap-up-down{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#sumRest small{
	color: #1B3682;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#sumRest hr{
	border: 1px solid #1B3682;
	border-left: none;
	border-right: none;
	border-top: none;
}
#destination .hotel-list-left {
    float: left;
    width: 35%;
}
#destination .hotel-list-right {
    float: left;
    padding: 0 15px;
    width: 65%;
}
#destination-view img{
	all: initial;
}
#destination-view_ img{
	
}
#destination-view h1{
	font-size: 24px;
}
#main-footer img{
	all: initial;
}
/*login*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

#changeDate>table, #changeDateReturn>table{
	text-align: center;  
	color: #1B3682;
	border: 1px solid #1B3682;
	border-collapse: collapse;
	background: white;
}

#changeDate>table>tr>td:hover, #changeDateReturn>table>tr>td:hover{
	background: #D3D8E6;
}

#changeDate .date-control, #changeDateReturn .date-control{
	text-align: center;  
	border: 1px solid #1B3682;
	background: #1B3682;
}
#changeDate .date-control:hover, #changeDateReturn .date-control:hover{
	background: #F00;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .pin {
		margin-top:75px;
	}
}
.container-full {
	padding: 14px 0px;
	background: #1B3682;
	color: white;
}
.news{
	/*margin-top: 25px;*/
	padding: 0px 30px 5px 30px;
    /*list-style-type: none;*/
	overflow: hidden;
	line-height:3;
	display:inherit !important;
	/* width: 50px;*/
	 
	 
}
.payment-list span.part > img{
	width: 100px;
}
pointer{
	cursor: pointer;
}

/* Over Ride Bootstrap Button */
.btn {
	border-radius: 0px 0px;
    letter-spacing: 1px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited{
	border-color: #1B3682;
	background: #1B3682;
    color: #ffffff;
}
.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited{
	border-color: #1B3682;
	background: #1B3682;
    color: #ffffff;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited{
	border-color: #F00;
	background: #F00;
    color: #ffffff;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited{
	border-color: #ED9C28;
	background: #ED9C28;
    color: #ffffff;
}
/* Hary Start */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

.btn-breadcrumb-50 .btn:first-child {
  min-width: 50%;
  cursor: default;
}
.btn-breadcrumb-50 .btn:last-child {
  min-width: 50%;
  cursor: default;
}

/** Default button #1B3682 **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #1B3682;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #1B3682;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #F00;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #F00;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #1B3682;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid white;
}

.panel,.panel-heading{
	border: 1px solid #1B3682;
	border-radius: 0px 0px;
}

.fixed-summary{
	width: 20%;
}

.table-striped > thead > tr > th {
	background-color: #1B3682;
	color: white;
	text-align: center;
}
.table-striped > tbody > tr > td, .table-striped > tbody > tr > th {
   background-color: #69B9EC;
   color: white;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #428BB9;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+5) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}
/* Hary End */